In [2]:
#import all libraries
#load dataframe for opt_ins, ear_sql, ever_redeemed_df
from kpi_loyalty_v2_old import *

Time passed: 0hour:2min:58sec

In [12]:
def create_first_df():    
    opt_ins_total_df = opt_ins_total(opt_ins)
    cust_orders_rolling_df = cust_orders_rolling()
    buckets_final_df = buckets_final(cust_orders_rolling_df)
    active_members_df = active_members(buckets_final_df)
    member_buckets_final_df = member_buckets_final(opt_ins_total_df, active_members_df, buckets_final_df)
    ever_redeemed_df2 = ever_redeemed(ever_redeemed_df)
    kpi_first_df2 = kpi_first_df(member_buckets_final_df, ever_redeemed_df2)
    return kpi_first_df2

In [13]:
kpi_first_df = create_first_df()

Start Activity Buckets (recreate cust orders daily)
del cust_orders_daily pt 2
Del opt_ins_total and active_members
deleted member_buckets_final

In [37]:
kpi_first_df

,fiscal_year,fiscal_month_name,fiscal_week,enrolled_today,total_enrolled,ever_active,never_purchased,active_members,lapsed_members,1.0,2.0,3.0,0.0,ever_redeemed,total_percent_redeemed
calendar_date,,,,,,,,,,,,,,,
2016-12-06,2016,December,49,260,260,43,217,43,0,43.0,0.0,0.0,0.0,0.00,0.00
2016-12-07,2016,December,49,120,380,102,278,102,0,98.0,3.0,1.0,0.0,0.00,0.00
2016-12-08,2016,December,49,111,491,161,330,161,0,155.0,5.0,0.0,1.0,0.00,0.00
2016-12-09,2016,December,49,108,599,239,360,239,0,227.0,10.0,1.0,1.0,0.00,0.00
2016-12-10,2016,December,49,107,706,299,407,299,0,283.0,12.0,3.0,1.0,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-02,2021,April,13,435,1107820,803411,304409,467669,335742,226339.0,82366.0,46963.0,112001.0,170384.00,0.1538011590330559116101893809
2021-04-03,2021,April,13,436,1108256,803746,304510,467390,336356,226250.0,82345.0,46941.0,111854.0,170561.00,0.1539003623711489042242947478
2021-04-04,2021,April,14,542,1108798,804134,304664,466533,337601,225965.0,82235.0,46848.0,111485.0,170743.00,0.1539892748724294235739963456
2021-04-05,2021,April,14,650,1109448,804629,304819,466361,338268,225916.0,82213.0,46831.0,111401.0,170949.00,0.1540847340298959482553486058
2021-04-06,2021,April,14,720,1110168,805186,304982,466257,338929,225978.0,82180.0,46839.0,111260.0,171158.00,0.1541730620951063262497207630

In [38]:
has_redeemed_df = has_redeemed()

Creating redeemed rolling

               active_redeemed
calendar_date
2016-12-06                 0.0
2016-12-07                 0.0
2016-12-08                 0.0
2016-12-09                 0.0
2016-12-10                 0.0
...                        ...
2021-04-02            118455.0
2021-04-03            118378.0
2021-04-04            118221.0
2021-04-05            118316.0
2021-04-06            118370.0

[1583 rows x 1 columns]

In [39]:
has_redeemed_df

               active_redeemed
calendar_date
2016-12-06                 0.0
2016-12-07                 0.0
2016-12-08                 0.0
2016-12-09                 0.0
2016-12-10                 0.0
...                        ...
2021-04-02            118455.0
2021-04-03            118378.0
2021-04-04            118221.0
2021-04-05            118316.0
2021-04-06            118370.0

[1583 rows x 1 columns]

In [57]:
#kpi_first_df.index.astype(dtype='datetime64[ns]')
kpi_first_df.index = pd.to_datetime(kpi_first_df.index)

In [60]:
#has_redeemed_df.index.astype(dtype='datetime64[ns]')
has_redeemed_df.index = pd.to_datetime(has_redeemed_df.index)

In [61]:

kpi = kpi_first_df.merge(has_redeemed_df, left_index = True, right_index=True, how='inner')
kpi['active_percent_redeemed'] = kpi['active_redeemed']/kpi['active_members']
kpi_second_df = kpi
kpi_second_df

,fiscal_year,fiscal_month_name,fiscal_week,enrolled_today,total_enrolled,ever_active,never_purchased,active_members,lapsed_members,1.0,2.0,3.0,0.0,ever_redeemed,total_percent_redeemed,active_redeemed,active_percent_redeemed
calendar_date,,,,,,,,,,,,,,,,,
2016-12-06,2016,December,49,260,260,43,217,43,0,43.0,0.0,0.0,0.0,0.00,0.00,0.0,0.000000
2016-12-07,2016,December,49,120,380,102,278,102,0,98.0,3.0,1.0,0.0,0.00,0.00,0.0,0.000000
2016-12-08,2016,December,49,111,491,161,330,161,0,155.0,5.0,0.0,1.0,0.00,0.00,0.0,0.000000
2016-12-09,2016,December,49,108,599,239,360,239,0,227.0,10.0,1.0,1.0,0.00,0.00,0.0,0.000000
2016-12-10,2016,December,49,107,706,299,407,299,0,283.0,12.0,3.0,1.0,0.00,0.00,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-02,2021,April,13,435,1107820,803411,304409,467669,335742,226339.0,82366.0,46963.0,112001.0,170384.00,0.1538011590330559116101893809,118455.0,0.253288
2021-04-03,2021,April,13,436,1108256,803746,304510,467390,336356,226250.0,82345.0,46941.0,111854.0,170561.00,0.1539003623711489042242947478,118378.0,0.253275
2021-04-04,2021,April,14,542,1108798,804134,304664,466533,337601,225965.0,82235.0,46848.0,111485.0,170743.00,0.1539892748724294235739963456,118221.0,0.253403
2021-04-05,2021,April,14,650,1109448,804629,304819,466361,338268,225916.0,82213.0,46831.0,111401.0,170949.00,0.1540847340298959482553486058,118316.0,0.253700
2021-04-06,2021,April,14,720,1110168,805186,304982,466257,338929,225978.0,82180.0,46839.0,111260.0,171158.00,0.1541730620951063262497207630,118370.0,0.253873

In [51]:
has_redeemed_df.index.dtype

dtype('O')

In [52]:
kpi_first_df.index.dtype

dtype('<M8[ns]')

In [42]:
kpi_first_df_2 = kpi_first_df.rename(index=str)
kpi_first_df_2.index.dtype

dtype('O')